.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  font-family: "Quicksand", sans-serif;
}

.container {
  justify-content: center;
  align-items: center;
  border: solid lightblue 0.5px;
  border-radius: 10px;
  box-shadow: gray;
  margin-top: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #fbfdfc;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}

div .card-title .third-card-title {
  font-size: 16px;
}

.subtitle {
  color: lightblue;
  font-size: 16px;
  margin-top: 16px;
}
