main-card {
  width: 100%;
}

h5,
.card-text-days {
  color: #ec3c64;
  text-align: center;
}

h1 {
  color: lightblue;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

hr .weather {
  border-top: lightblue 2px solid;
}

header {
  display: inline;
  text-align: center;
  width: 100%;
}

.main-card .card-title {
  font-size: 42px;
  color: #3c576b;
}

section {
  color: #ec3c64;
  width: 100%;
}

section p {
  font-size: 22px;
  font-weight: 700;
  margin-left: 240px;
}

.second-card-body {
  display: inline;
}

.row {
  width: 100%;
  font-size: 18px;
}
hr {
  color: gray;
}

img {
  width: 500px;
  display: block;
  margin-left: 40px;
}

.third-card {
  justify-content: center;
  font-size: 30px;
  display: block;
  align-items: center;
  border: none;
  text-justify: center;
  margin-top: 50px;
  background-color: #fbfdfc;
}

.col-sm-4 .third-card-title {
  font-size: 80px;
  text-align: left;
}

hr .third-card-line {
  border-top: solid 2px;
  width: 100%;
  margin-bottom: 20px;
}

.card-deck .card-title {
  font-size: 20px;
  font-weight: bold;
}

.img-day1,
.img-day2,
.img-day3,
.img-day4,
.img-day5 {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.card-deck {
  margin-bottom: 20px;
  margin-top: 50px;
}

.third-card-title .today {
  font-size: 32px;
  line-height: 1.2;
}

.fas .fa-map-marker-alt {
  fill: currentColor;
  margin: 0.5em;
}
h4 {
  font-size: 36px;
}

h5 {
  color: #ec3c64;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

h5text:first-letter {
  text-transform: capitalize;
}

.img-left {
  display: block;
  margin: 0 auto;
}

#search-city {
  background-color: #3c576b;
  border: white;
  border-radius: 10px;
  width: 100%;
}

#type-city {
  width: 100%;
  margin-left: 0;
}

.linktorepository {
  margin-left: 100px;
  margin-bottom: 50px;
}

.form-control {
  margin-left: 50px;
}

.form {
  margin-bottom: 30px;
}

.search-button {
  color: white;
  background-color: #3c576b;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  padding: 6px 12px;
  margin-left: 80px;
}

.search-button:hover {
  background-color: #ec3c64;
}

.geolocalization {
  background-color: #3c576b;
  border: solid grey 0.75px;
  border-radius: 10px;
  color: white; /* White text */
  padding: 6px 12px; /* Some padding */
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.geolocalization:hover {
  background-color: #ec3c64;
}

.forecast {
  margin-top: 50px;
  margin-bottom: 50px;
}
